.up{
    margin-top: -1cm;
}
.img0{
	position:absolute;
	left:0px;
}.img1{
	position:absolute;
	left:20px;
}.img2{
	position:absolute;
	left:40px;
}.img3{
	position:absolute;
	left:60px;
}.img4{
	position:absolute;
	left:80px;
}.img5{
	position:absolute;
	left:100px;
}.img6{
	position:absolute;
	left:120px;
}.img7{
	position:absolute;
	left:140px;
}.img8{
	position:absolute;
	left:160px;
}.img9{
	position:absolute;
	left:180px;
}.img10{
	position:absolute;
	left:200px;
}.img11{
	position:absolute;
	left:220px;
}.img12{
	position:absolute;
	left:240px;
}.img13{
	position:absolute;
	left:260px;
}.img14{
	position:absolute;
	left:280px;
}.img15{
	position:absolute;
	left:300px;
}.img16{
	position:absolute;
	left:320px;
}.img17{
	position:absolute;
	left:340px;
}.img18{
	position:absolute;
	left:360px;
}.img19{
	position:absolute;
	left:380px;
}.img20{
	position:absolute;
	left:400px;
}.img21{
	position:absolute;
	left:420px;
}.img22{
	position:absolute;
	left:440px;
}.img23{
	position:absolute;
	left:460px;
}.img24{
	position:absolute;
	left:480px;
}.img25{
	position:absolute;
	left:500px;
}.img26{
	position:absolute;
	left:520px;
}.img27{
	position:absolute;
	left:540px;
}.img28{
	position:absolute;
	left:560px;
}.img29{
	position:absolute;
	left:580px;
}